
@font-face {
  font-family: 'OpenSans-Light';
  src:
    local('OpenSans-Light'),
    url(./fonts/opensans/OpenSans-Light.woff) format('woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald-Bold';
  src:
    local('Oswald-Bold'),
    url(./fonts/oswald/Oswald-Bold.ttf) format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Regular';
  src:
    local('Manrope-Regular'),
    url(./fonts/manrope/Manrope-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Bold';
  src:
    local('Manrope-Bold'),
    url(./fonts/manrope/Manrope-Bold.woff) format('woff');
  font-weight: 700;
  font-display: swap;
}
